[Unit]
Description=TaskSKA Node.js server
After=network.target mysql.service

[Service]
Type=simple
WorkingDirectory=/var/www/taskska
EnvironmentFile=/var/www/taskska/.env
ExecStart=/usr/bin/node server.js
Restart=on-failure
User=www-data

[Install]
WantedBy=multi-user.target
